.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 10%;
}

.topRow {
  position: relative;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.title {
  margin-bottom: 20px;
  font-size: 48px;
  text-align: center;
  border-bottom: 3px solid #d1a85f;
  color: black;
  padding-bottom: 25px;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}
