.title {
  margin-bottom: 20px;
  font-size: 48px;
  text-align: center;
  border-bottom: 3px solid #d1a85f;
  color: #d1a85f;
  padding-bottom: 25px;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 0 13%;
}

.textSize {
  margin-top: 10px;
}

.textColumn {
  text-align: center;
  margin-right: 20px;
  margin-bottom: 0;
  margin-top: 0;
}

.imageColumn {
  margin-left: 50px;
}

.img {
  height: 600px;
  width: 600px;
}

h6 {
  font-size: 32px;
}

.nameSpan {
  color: #d1a85f;
  transition: color 0.3s ease;
}

.scrollSpyContainer {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scrollSpyContainer div {
  margin: 10px 0;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.isCurrent {
  background-color: #d1a85f;
}



