.title {
  margin-bottom: 20px;
  font-size: 48px;
  text-align: center;
  border-bottom: 3px solid #d1a85f;
  color: #d1a85f;
  padding-bottom: 25px;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 0 13%;
}

.textSize {
  margin-top: 10px;
}

.textColumn {
  text-align: center;
  margin-right: 20px;
  margin-bottom: 0;
  margin-top: 0;
}

.imageColumn {
  margin-left: 50px;
}

.img {
  height: 600px;
  width: 600px;
}

h6 {
  font-size: 32px;
}

.nameSpan {
  color: #d1a85f;
}


