.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 10%;
}

.topRow {
  position: relative; 
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
  text-align: left;
  max-width: 75%;
  align-items: flex-start;
  margin-top: 150px;
}

.image {
  margin-right: 75px;
}

.image img {
  width: 500px;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.projectLogo {
  width: 75px;
}

p {
  font-size: 24px;
  margin-top: 20px;
}
