.projectsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 10%;
}

.topRow {
  position: relative;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.carouselWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.content {
  display: flex;
  justify-content: center;
  text-align: left;
  max-width: 75%;
  align-items: flex-start;
  margin-top: 150px;
}

.carouselItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carouselItem img {
  max-height: 500px; 
  object-fit: cover;
  filter: blur(1px);
}


.carouselTextHighlight {
  background-color: #d1a85f;
  color: white;
  display: inline-block;
  padding: 0 10px;
  margin-bottom: 10px;
  font-size: 32px;
  text-align: center;
}

.subtitle {
  color: black;
  margin-bottom: 30px;
  font-size: 20px;
  text-align: center;
}

.title {
  margin-bottom: 20px;
  font-size: 48px;
  text-align: center;
  border-bottom: 3px solid #d1a85f;
  color: black;
  padding-bottom: 25px;
}
