.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.imageContainer {
  display: flex;
  justify-content: center;
}

.image {
  height: 600px;
  max-width: 100%;
  object-fit: cover;
}

.textContainer {
  text-align: left;
  max-width: 100%;
  align-items: flex-start;
}

.textContainer .highlight {
  background-color: #d1a85f;
  color: black;
  padding: 5px 10px;
}

.title {
  margin-bottom: 20px;
  font-size: 48px;
  border-bottom: 3px solid #d1a85f;
  display: inline;
  color: black;
}

.text {
  margin-top: 25px;
  font-size: 1.5rem;
  color: black;
  font-style: italic;
}


