.scrollspyContainer {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  z-index: 1000; /* Ensure the dots appear above other content */
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.isCurrent {
  background-color: #d1a85f;
}
