.footer {
  background-color: #f5f5f5;
  padding: 25px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

.content {
  max-width: 600px;
}

.imageRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  margin-right: 10px;
}

.image svg {
  width: 50px;
  height: 50px;
  fill: #000;
}

.image svg:hover {
  cursor: pointer;
}


.bottomContent {
  margin-top: 20px;
}

.bottomContent p {
  font-size: 12px;
}
